In [2]:
!ls

Icon?                          SpecSales.ipynb
Introduction to Pandas.ipynb   Week-4-Practice-Notebook.ipynb
ItemSpecImageSales2.csv        movielens
README.md

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('ItemSpecImageSales2.csv')

In [6]:
data.head()

,ItemID,SpecCount,ImageCount,QuantityOrdered,ActionTime,PriceExtension
0,9580210,37,1,6,2017-11-20 14:05:42.800,516.6
1,650926,35,1,1,2017-11-20 14:05:42.800,169.6
2,9030020,15,1,2,2017-02-15 15:55:24.783,494.0
3,65400,4,1,1,2017-11-20 14:05:42.800,13.0
4,65400,4,1,1,2017-11-20 14:05:42.800,13.0

In [19]:
pd.DatetimeIndex(data.ActionTime).normalize()

DatetimeIndex(['2017-11-20', '2017-11-20', '2017-02-15', '2017-11-20',
               '2017-11-20', '2017-02-15', '2017-02-15', '2017-02-15',
               '2017-02-15', '2017-02-15',
               ...
               '2017-12-21', '2017-12-21', '2018-01-05', '2017-12-21',
               '2018-01-06', '2017-12-21', '2017-12-21', '2017-12-21',
               '2017-12-21', '2018-01-09'],
              dtype='datetime64[ns]', name='ActionTime', length=961519, freq=None)

In [21]:
data['Date'] = pd.DatetimeIndex(data.ActionTime).normalize()

In [22]:
data.head()

,ItemID,SpecCount,ImageCount,QuantityOrdered,ActionTime,PriceExtension,Date
0,9580210,37,1,6,2017-11-20 14:05:42.800,516.6,2017-11-20
1,650926,35,1,1,2017-11-20 14:05:42.800,169.6,2017-11-20
2,9030020,15,1,2,2017-02-15 15:55:24.783,494.0,2017-02-15
3,65400,4,1,1,2017-11-20 14:05:42.800,13.0,2017-11-20
4,65400,4,1,1,2017-11-20 14:05:42.800,13.0,2017-11-20

In [23]:
specSales = data.copy()

In [24]:
specSales.head()

,ItemID,SpecCount,ImageCount,QuantityOrdered,ActionTime,PriceExtension,Date
0,9580210,37,1,6,2017-11-20 14:05:42.800,516.6,2017-11-20
1,650926,35,1,1,2017-11-20 14:05:42.800,169.6,2017-11-20
2,9030020,15,1,2,2017-02-15 15:55:24.783,494.0,2017-02-15
3,65400,4,1,1,2017-11-20 14:05:42.800,13.0,2017-11-20
4,65400,4,1,1,2017-11-20 14:05:42.800,13.0,2017-11-20

In [25]:
del specSales['ActionTime']

In [26]:
specSales.columns

Index(['ItemID', 'SpecCount', 'ImageCount', 'QuantityOrdered',
       'PriceExtension', 'Date'],
      dtype='object')

In [27]:
specSales.head()

    ItemID  SpecCount  ImageCount  QuantityOrdered  PriceExtension       Date
0  9580210         37           1                6           516.6 2017-11-20
1   650926         35           1                1           169.6 2017-11-20
2  9030020         15           1                2           494.0 2017-02-15
3    65400          4           1                1            13.0 2017-11-20
4    65400          4           1                1            13.0 2017-11-20

In [28]:
specSales.shape

(961519, 6)

In [29]:
!pwd

/Users/Scott/Documents/Python/Week4/Week-4-Pandas